<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header"/>

<body>

<nav th:insert="fragments :: navbar"/>

<div class="container mt-3">

    <h3 class="text-center mb-3">Daftar Jadwal</h3>
    <div class="row text-center justify-content-center">
        <div class="col-5 mb-2">
            <a th:href="@{/tambah_jadwal}" class="btn btn-primary">Tambah</a>
            <a th:href="@{/pulihkan_jadwal}" class="btn btn-success">Pulihkan</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="table-responsive col-10 mb-3">
            <table id="table1" class="table table-sm" style="width:100%">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Staisun Asal</th>
                    <th scope="col">Stasiun Tujuan</th>
                    <th scope="col">Waktu Berangkat</th>
                    <th scope="col">Waktu Tiba</th>
                    <th scope="col">Aksi</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="jadwal, count : ${jadwal}">
                    <th scope="row" th:text="${count.index + 1}"></th>
                    <td th:text="${jadwal.stasiunAsal}"></td>
                    <td th:text="${jadwal.stasiunTujuan}"></td>
                    <td th:text="${jadwal.waktuBerangkat}"></td>
                    <td th:text="${jadwal.waktuTiba}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/edit_jadwal/{id_jadwal}(id_jadwal = ${jadwal.idJadwal})}">Edit</a>
                        <a class="btn btn-danger" th:href="@{/proses_hapus_jadwal/{id_jadwal}(id_jadwal = ${jadwal.idJadwal})}">Hapus</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<footer th:replace="fragments :: footer"/>
<script>
    $(document).ready(function () {
       $('#table1').DataTable();
    });
</script>

</body>
</html>