<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header"/>
<body>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-transparent mb-0"><h5 class="text-center"><span
                        class="font-weight-bold text-primary">REGISTER FORM</span></h5></div>
                <div class="card-body">
                    <form th:action="@{/process_register}" th:object=${user} method="post">
                        <div class="form-group mb-3">
                            <label for="username" class="col-4 col-form-label col-form-label-sm">Username</label>
                            <div class="col-12">
                                <input type="text" th:field="*{username}" id="username" class="form-control" required/>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="password" class="col-4 col-form-label col-form-label-sm">Password</label>
                            <div class="col-12">
                                <input type="password" id="password" th:field="*{password}" class="form-control"
                                       required minlength="6" maxlength="10"/>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="name" class="col-4 col-form-label col-form-label-sm">Name</label>
                            <div class="col-12">
                                <input id="name" name="nama_pemesan" type="text" th:field="*{name}" class="form-control"
                                       required minlength="2" maxlength="20"/>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary btn-sm">Sign Up</button>
                        </div>
                    </form>
                    <div class="row text-center mt-2">
                        <p class="text-primary">Sudah punya akun? <a href="/login">Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments :: footer"/>
</body>
</html>